$border-radius: 0.5rem;
$font-size-base: 16px;
$padding-y: 0.2rem;
$padding-x: 0.5rem;
$min-width: 36px;
$min-height: 10px;
$border-width: 1px;

:root {
    --primary: #0064e0;
    --primary-foreground: white;
    --primary-hover: #005fd5;

    --secondary: #6c757d;
    --secondary-foreground: white;
    --secondary-hover: #5a6268;

    --danger: #dc3545;
    --danger-foreground: white;
    --danger-hover: #bb2d3b;

    --warning: #ffc107;
    --warning-foreground: #212529;
    --warning-hover: #e0a800;
}


.btn {
    min-width: $min-width;
    width: fit-content;
    min-height: $min-height;
    padding: $padding-y $padding-x;
    border: $border-width solid transparent;
    border-radius: $border-radius;
    font-weight: bold;
    font-size: $font-size-base;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    transition: background-color 0.15s ease, color 0.15s ease;
}

$variants: primary, secondary, danger, warning;

// Dolu (solid) varyantlar: btn-primary, btn-secondary, btn-danger
@each $variant in $variants {
    .btn-#{$variant} {
        color: var(--#{$variant}-foreground);
        background-color: var(--#{$variant});
        border-color: var(--#{$variant});

        &:hover {
            background-color: var(--#{$variant}-hover);
            border-color: var(--#{$variant}-hover);
        }
    }
}

// Outline varyantlar: btn-outline-primary, btn-outline-secondary, btn-outline-danger
@each $variant in $variants {
    .btn-outline-#{$variant} {
        color: var(--#{$variant});
        background-color: transparent;
        border-color: var(--#{$variant});

        &:hover {
            color: var(--#{$variant}-foreground);
            background-color: var(--#{$variant});
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #0064e0;
        --secondary: #6c757d;
        --danger: #dc3545;
        --warning: #CC8B00;
    }
}